html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*Body*/

body{
  background: navajowhite;
  transition: background 1s ease;

}

.wrapper{
  margin: 0 auto;
  width: 1440px;
  padding: 10px;
  font-family: arial, serif;
  }



/*header*/


header{
  width: 100%;
  padding: 1em;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background 1s ease;

  justify-content: space-between;
  align-items: center;
  position: fixed;
  display: flex;
  height: auto;

  background: #e62424;
  color: white;
}

header .logo img{
  width: 141px;
  height: 76px;
  left: 38px;
  top: 24px;
}

/*Nav*/
nav{
  display: flex;
  text-align: center;
  height: auto;
  width: 100%;

  color: white;
}

nav ul .material-symbols-outlined{
  cursor: pointer;
}

.active{ 
  display: none;
}


nav ul{
  display: block;
  justify-content: space-between;
}

nav ul li {
  margin-right: 60px;
  font-size: 22px;
  margin: 0 auto;
  transition: transform 0.5s;
  
  display: inline-block;
  justify-content: space-between;
  text-align: center;
  font-family: arial, serif;
  cursor: pointer;
}

nav ul li:hover{
  transform: scale(1.1);
}

.poss{
  border-radius: 10px;
  padding: 10px;

  background: green;
}


/*barre de recherche*/

.banner{
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 10px;
  width: 1040px;
  height: 174px;
  left: 210px;
  top: 140px;

  background: rgba(177, 138, 138, 0.7);
}

.banner .search .rechercher{
  width: 680px;
  height: 60px;
  left: 390px;
  top: 158px;
  margin: 25px auto;
  border-radius: 10px;
  padding: 20px;

  position: sticky;
  text-align: center;
}

.banner .search span{
  position: sticky;
  float: center;

  margin-right: -50px;
  left: -58%;
  right: 69.93%;
  top: 6.88%;
  bottom: 92.07%;
  padding: 20px;
}

.banner h2{
  width: 450px;
  height: 60px;
  left: 509px;
  top: 235px;
  margin: 0 auto;
  margin-top: -10px;
  border-radius: 10px;
  transition: transform 0.5s;
  border: 2px solid white;
  
  background: #e62424;
  text-align: center;
  align-items: center;
}

.banner h2:hover{
  transform: scale(1.1);
}


/*PREMIERE SECTION DE TABLEAU*/

/*container*/

.container .container--content{
  height: 600px;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;

}


/*tableau 1 & tableau 2 & tableau 3*/

.container--content .content{
  border: 2px solid #9e0101;
  width: 453px;
  height: 464px;
  left: 20px;
  top: 343px;
  border-radius: 10px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}

.container--content .content p{
  text-align: start;
  margin-left: 0.5em;
  
}
.content .content1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 35px;
}

.content .content1 .material-symbols-outlined{
  width: 30px;
  height: 30px;
  float: right;
  margin-top: -23px;
  margin-left: -1em;
}

.content .content2 p{
  margin-left: 0.5em;
  text-align: start;
  margin-top: 20px;
  line-height: 24px;
}

.content .content3{
  width: 326px;
  height: 48px;
  left: 81px;
  top: 738px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;

  background: #E62424;
  color: white;
  border-radius: 10px;
  align-items: center;
  transition: transform 0.5s;
}

.content .content3:hover{
  transform: scale(1.1);
}


/*deuxième contenu tableau*/



.container2 .table{
  height: 600px;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}


/*tableau 1*/


.avantmetier{
  width: 453px;
  height: 464px;
  left: 20px;
  margin-top: -7em;
  border-radius: 10px;
  
  text-align: center;
}

.metier{
  display: block;

  height: 464px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  
  /* border: 2px solid blue; */
}

.avantmetier .metier h2{
  width: 255px;
  height: 25px;
  left: 110px;
  margin-top: 5px;
  margin-right: -10px;
  text-align: center;
  margin: 0 auto;
  padding: 15px;

  font-family: 'Arial';
  font-style: normal;

  color: rgba(0, 0, 0, 0.6);
}

.metier .material-symbols-outlined{
  width: 30px;
  height: 30px;
  top: 883px;
  float: right;

  margin-top: -0.5em;
}

/*input*/
.btnF{
  display: block;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  text-align: center;
  
  background: white;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.6);
}


/*Tableau 2*/

.rencontre{
    background: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    display: block;
    
    height: 464px;
    left: 20px;
    top: 166px;
    border-radius: 10px;
}

.rencontre p{
  text-align: start;
  line-height: 2em;

  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.5em;
}

.rencontre .material-symbols-outlined{
  width: 30px;
  height: 30px;
  top: 883px;
  margin-top: -0.5em;

  float: right;
}
/*Tableau 3*/

.resultats{
  background: rgba(255, 255, 255, 0.5);
  width: 453px;
    height: 252px;
  border-radius: 10px;
  align-items: center;
}

h3{
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0.5em;
}

.resultats h1{
  margin-top: 1em;
  margin-left: -10em;
  font-size: 30px;
  font-weight: 550;
  color: hsla(95, 59%, 47%, 1);
}

.resultats p{
  margin-left: 5EM;
  line-height: 3em;
  margin-top: -2.5em;
}


.cata{
  background: rgba(255, 255, 255, 0.5);
  margin-top: 1em;
  width: 451px;
  height: 196px;
  border-radius: 10px;
}

.cata h1{
  margin-top: 1em;
  margin-left: -10em;
  font-size: 30px;
  font-weight: 550;
  color: hsla(95, 59%, 47%, 1);
}
.cata p{
  margin-left: 3em;
  line-height: 3em;
  margin-top: -2.5em;
}

/*Info*/

.info{
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;

    margin-top: -12.5em;
    margin-bottom: 2em;
}

.info .para{
  display: flex;
  justify-content: space-evenly;
}

.info h2{
  text-align: center;
  font-weight: 600;
  padding: 1em;
}
.barI{
  width: 100%;
  height: 0.2em;
  margin-bottom: 1em;

  background: black;
}
.bar{
  display: block;
  background: black;
  height: 1em;
  width: 0.2em;
  margin-top: -0.4em;
}


/*Partenaires*/


.partenaires{
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  border-radius: 10px;

  display: block;
}

.partenaires h1{
  /* font-size: 19px; */
  text-align: center;
  /* font-size: bold; */
  font-weight: 600;
  width: 100%;
}

.partenaires p {
  width: 100%;
  font-family: 'Arial';

  /* font-weight: 300; */
  line-height: 25px;
  text-align: center;
}

.list__img img{
  max-width: 100px;
  margin-left: 3em;
}


/* footer*/

 .footer ul {
   width: 100%;
   height: 200px;
  margin: 0 auto;
  background: #e62424;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  border-radius: 10px;
  }
  

 .footer ul h2{
  margin: 29Px 463px;
  color: white;
/*  font-size: 20px;*/
  padding: 10px;

}

.footer ul li {
  display: inline-flex;
  box-sizing: border-box;
  width: 187px;
  height: 30px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  font-weight: normal;
}
.footer ul li p{
  text-align: start;
  width: 100%;
  justify-content: space-between;
  margin-left: 2em;
}
  
.footer ul li .material-symbols-outlined {
  margin-top: 1em;
  margin-left: -1em;

}

.contacts{
  display: flex;
  width: 100%;
  gap: 2em;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.5);

}
.contacts img{
  max-width: 50px;
  justify-content: space-evenly;
  gap: 1em;
}

.contactR{
  width: 30%;
}

.contactR img{
  max-width: 25px;
  margin-left: 2.5em;
}

.contactV{
  width: 30%;
}
.contactV p{
  color: red;
}

.contactP{
  width: 30%;
}

.afterfoot{
  width: 100%;
  display: block;
}

.afterfoot img{
  max-width: 300px;
  margin-left: 4em;

}