.beforefoot{
    display: block;
    width: 100%;
    background: rgba(230, 36, 36, 0.8);
}

.choix{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

h3{
    text-align: center;
}


.contacts{
    background: rgba(255, 255, 255, 0.5);
    color: black;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.contactR{
    width: 30%;
}

.contactR img{
    max-width: 25px;
    margin-left: 2.5em;
}

.contactV{
    width: 30%;
}
.contactV p{
    color: red;
}

.contactP{
    width: 30%;
}

.afterfoot{
    width: 100%;
    display: block;
    /* background: rgba(255, 255, 255, 0.5); */
    /* background: red; */
}

.afterfoot img{
    max-width: 300px;
    margin-left: 4em;

}