header{
    display: flex;
    padding: 1em;
    width: 100%;
    background: red;
    justify-content: space-between;
}

@media screen and (min-width: 200px) {
    .nav__bar {
        display: block;
        font-size: 500;
        margin-left: -1.5em;
    }
}

@media screen and (min-width: 100px) {
    img{
        margin: 0;
    }
}


    
.nav__bar{
    font-size: 20px;
    color: yellow;
    width: 100%;
    margin-top: 0.5em;
    text-align: center;
}

img{
    max-width: 100px;
    max-height: 100px;
}

.nav__bar a{
    position: relative;
    color: aliceblue;
    text-decoration: none;
    padding: 1em;
    margin-left: 1.1em;
    font-weight: 350;
}

.nav__bar a::after{
    content: '';
    position: absolute;
    width: 75%;
    height: 0.11em;
    background: white;
    border-radius: 5px;
    left: 0;
    margin-left: 1em;
    bottom: 15px;
    transform: scaleX(0);

    /* pour gérer la ligne transform*/
    transform-origin: left;

    transition: all 0.5s;
}

.nav__bar a:hover::after{
    transform: scaleX(1);
}

.btnLogin{
    color: aliceblue;
    width: 7em;
    text-decoration: none;
    background: red;
    padding: 1em;
    margin-left: 10em;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.5s;
}

.btnLogin:hover{
    background: white;
    color: black;
    transform: scale(1);
}