.header{
    display: flex;
    padding: 1em;
    width: 100%;
    background: red;
    justify-content: space-between;
}
.nav__bar{
    font-size: 20px;
    color: yellow;
    width: 100%;
    margin-top: 0.5em;
    text-align: center;
}

img{
    max-width: 100px;
    min-width: 50px;
    max-height: 100px;
}

.nav__bar .link{
    color: aliceblue;
    text-decoration: none;
    padding: 1em;
    margin-left: 1em;
    border-radius: 10px;
}
.nav__bar .link::after{
    background: green;
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 5px;
}

.btnLogin{
    color: aliceblue;
    width: 7em;
    text-decoration: none;
    background: red;
    padding: 1em;
    margin-left: 10em;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.5s;
}
.btnLogin:hover{
    background: white;
    color: black;
    transform: scale(1);
}