header{
    display: flex;
    padding: 1em;
    width: 100%;
    /* background: rgb(173, 56, 56); */
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99;
}

img{
    max-width: 100px;
    max-height: 100px;
}

.nav__bar a{
    position: relative;
    color: black;
    text-decoration: none;
    padding: 1em;
    margin-left: 3em;
    font-weight: 600;
}

/* Pour ajouter effet au survol */
.nav__bar a::after{
    content: '';
    position: absolute;
    width: 75%;
    height: 0.12em;
    background: white;
    border-radius: 5px;
    left: 0;
    margin-left: 1em;
    bottom: 10px;
    transform: scaleX(0);

    /* pour gérer la ligne transform */
    transform-origin: center;

    transition: all 0.5s;
}

.nav__bar a:hover::after{
    transform: scaleX(1);
}

.btnLogin{
    color: aliceblue;
    width: 7em;
    text-decoration: none;
    background: red;
    padding: 1em;
    margin-right: 5em;
    margin-left: 5em;
    border-radius: 10px;
    border: 2px solid white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s;
}

.btnLogin:hover{
    background: white;
    color: black;
    /* transform: scale(1); */
}