@media screen and (min-width: 300px) and (max-width:1200px) {

    /*header*/
    header {
        width: 50%;
        display: flex;
        font-size: 21px;
        background: red;
        height: 1em;
    }

    .btnLogin{
        width: 50%;
    }

    header img{
        max-width: 150px;
    }
    .nav__bar{
        width: 100%;
        flex-wrap: wrap;
        display: block;
        color: white;
        justify-content: center;
        align-items: center;
    }

    /*Home*/

    .offre{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .particulier h1{
        font-size: 2px;
    }

    .particulier p{
        font-size: 21px;
        font-weight: 200;
    }
   
} 